*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #595959, #000000);
    background-size: cover;
}

.clock{
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(255, 255, 255, 01.2),0px 5px 5px rgb(255, 255, 255, 0.7);
    height: 24vh;
    border-radius: 12px;
    padding: 20px;
    background-blend-mode: darken ;
}

.clock h1{
    font-size: 60px;
    font-weight: 300;
    color: aliceblue;

}

.clock span{
    position: relative;
    top: -0%;
    margin-left: 5px;
    font-size: 30px;
    font-weight: 70;
    color: aliceblue;
}

@media screen and (max-width:274px){
    .clock{
        max-width: 210px;
     padding: 5px;

    }
    .clock h1{
        font-size: 1.9rem;
    }
}
@media screen and (min-width:275px) and (max-width:400px){
    .clock{
        max-width: 260px;
        padding: 5px;
    }
    .clock h1{
        font-size: 2.4rem;
    }
}